body {
	overflow: hidden;
	margin: 0px;
	padding: 5px;
	background: white;
	min-width: 250px;
	background-color: #fffda3;
	
}

#childs {
	min-width: 80px;
}


.left {
    width: 50%;
    float: left;
}
.right {
    width: 50%;
    float: left;
}

fieldset {
    border: 1px solid black;
	padding: 5px;
	margin-bottom: 5px;
	background-color: rgba(0,0,0,0.2);
	border-radius: 2px;
	max-width:100%;
}
legend {
	background-color: #fffda3;
	border-radius: 2px;
	border: 1px solid black;

}
* {
	font-size: 12px;
	font-family: Tahoma;
}
